@import "../../styles/shared.scss";

.more--service {
  margin-top: 20px;
  color: #444444;
  background-color: #fff;
}

.add_new_service {
  @extend .more--service;
  margin: 20px 0;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
