@import "../../../../styles/shared.scss";

.galleryCarousel {
  margin-top: 30px;
}

.MySwiper {
  position: relative;
}

.mySwiperSlide {
  margin-top: 10px;
  position: absolute;
}

.mySwiperBigImage {
  cursor: pointer;
}

.mySwiperSlideSmallImage {
  cursor: pointer;
}

@media screen and (min-width: $tablet) {
}

@media screen and (min-width: $desktop) {
}

@media screen and (min-width: $desktopL) {
  .mySwiperBigSlide {
    display: flex;
    justify-content: center;
  }

  .mySwiperBigImage {
    width: 720px;
  }

  .mySwiperSlide {
    width: 720px;
  }
}
