@import "../../../../styles/shared.scss";

.galleryCarousel {
  margin-top: 30px;
}

.mySwiperSlide {
  margin-top: 10px;
}

@media screen and (min-width: $tablet) {
}

@media screen and (min-width: $desktop) {
}

@media screen and (min-width: $desktopL) {
  .mySwiperBigSlide {
    display: flex;
    justify-content: center;
    height: 600px;
  }

  .mySwiperSlide {
    width: 1024px;
  }
}
