@import "../../styles/shared.scss";

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }

  @media screen and (min-width: $desktopL) {
    max-width: $desktopL;
  }
}
