@import "../../styles/shared.scss";

.main {
  color: #000000;
  margin-left: auto;
  margin-right: auto;

  .salon {
    position: relative;
    background-image: url("../../images/GalleryCarousel/foto-18.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .salonOverlay {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #3d3c3c;
      opacity: 0.8;
    }
  }

  .reviews {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    background-image: url("../../images/bg-reviews.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .reviewsOverlay {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(249, 200, 105, 0.92);
    }
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }

  @media screen and (min-width: $desktopL) {
    max-width: $desktopL;
  }

  // @media screen and (min-width: $desktop4k) {
  //   width: $desktop4k;
  // }
}
