@import "../../styles/shared.scss";

.logo {
  height: auto;
}

.logo--header {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  fill: #fff;
}

.logo--nav {
  margin-top: 25px;
  width: 130px;

  fill: #fff;
}

.logo--swiperSlide {
  width: 150px;

  padding-top: 30px;
}

.logo--footer {
  width: 150px;

  fill: #fff;
}

@media screen and (min-width: $tablet) {
  .logo--header {
    top: 30px;
    left: 30px;
    width: 200px;
  }
}

@media screen and (min-width: $desktop) {
  // max-width: $desktop;
}

@media screen and (min-width: $desktopL) {
  // max-width: $desktopL;
}
