@import "../../../../styles/shared.scss";

.salonDescription {
  color: #fff;
  position: relative;

  &__title {
    @extend %title;
  }

  &__text {
    margin-top: 20px;
    @extend %text;
  }
}

.accent {
  @extend %accent__word;
}
