@import "../../styles/shared.scss";

.footer {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;

  text-align: center;
  background-color: #242424;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }

  @media screen and (min-width: $desktopL) {
    max-width: $desktopL;
  }
}
