@import "../../styles/shared.scss";

.contact {
  @extend %container;
  width: 100%;

  padding-top: 15px;
  padding-bottom: 15px;

  color: $accentColor;

  &__address {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__phone {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  &__phone>a {
    display: flex;
    align-items: center;
    transition-timing-function: ease;
    transition-duration: 0.5s;

    &:hover {
      color: lighten($accentColor, 35%);
    }
  }

  &__workTime {
    display: flex;
    flex-direction: column;
    align-items: center;

    .workTime__item {
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  &__icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    fill: currentColor;
  }

  &--header {
    position: absolute;
    bottom: 0;

    background-color: rgba(#151515, 0.15);
    border-top: rgba(#fff, 0.15) 1px solid;
  }


  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }

  @media screen and (min-width: $desktopL) {
    max-width: $desktopL;
  }
}