@import "../../styles/shared.scss";

//mobile
.contact {
  @extend %container;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;

  background-color: rgba(#151515, 0.15);
  color: $accentColor;
  border-top: rgba(#fff, 0.15) 1px solid;

  &__address {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
  }

  &__phone {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  &__phone > a {
    display: flex;
    align-items: center;
    transition-timing-function: ease;
    transition-duration: 0.5s;

    &:hover {
      color: lighten($accentColor, 35%);
    }
  }

  &__workTime {
    display: flex;
    justify-content: space-around;
    cursor: default;

    .workTime__item {
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    margin-right: 5px;
  }
}
