@import "../../styles/shared.scss";

.contact {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  width: $mobile;
  background-color: rgba(#151515, 0.15);

  border-top: rgba(#fff, 0.15) 1px solid;

  &__address {
  }

  &__phone {
    color: currentColor;
  }
}
